
<!-- NavBar END -->
<!-- Bootstrap row -->
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Welcome</div>
      <div class="list-group list-group-flush">
        
        <a routerLink='buyer' class="list-group-item list-group-item-action bg-light">Invoices</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Invoice Statements</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">My Buyers</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Request Loan</a>



  
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="#">
          <img
            src="./assets/images/FACTS_logo-1.jpg"
            height="40"
            class="d-inline-block align-top "
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="flex-grow-1 d-flex">
            <form
              class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded p-1"
            >
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" (click)="Logout()" href="#"><i class="fas fa-sign-out-alt fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </nav>


      <div class="row mt-4" id="body-row">
        <router-outlet></router-outlet>
        <!-- Sidebar -->
        
        <!-- sidebar-container END -->
        <div class="col p-4">
          <h4 class="text-center">List Of Invoices.</h4>
          <div>
            <a  (click)="Upload()" class='btn btn-primary m-5'>Upload Invoice</a>
          </div>
          <div class="card">
            <h5 class="card-header font-weight-light text-center">Invoices</h5>
            <div class="card-body">
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Invoice Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let invoice of invoices" >
                    <th scope="row">{{invoice.id}}</th>
                    <td>{{invoice.buyer_id}}</td>
                    <td>{{invoice.due_date}}</td>
                    <td>{{invoice.amount}}</td>
                    <td>{{invoice.invoice_status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
        <!-- Main Col END -->
      </div>
