<h4 class="text-center mt-5">List Of Invoices.</h4>
<div class="card">
  <h5 class="card-header font-weight-light text-center">Invoices</h5>
  <div class="card-body">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date posted</th>
            <th scope="col">Due Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Approve Invoice</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of listInvoices">
            <td scope="row">{{ invoice.created_at | date }}</td>
            <td scope="row">{{ invoice.due_date | date }}</td>
            <td scope="row">{{ invoice.invoice_amount }}</td>
            <td scope="row">
              <p
                *ngIf="invoice.invoice_status == 1"
                class="text-primary font-weight-bold"
              >
                Pending
              </p>
              <p
                *ngIf="invoice.invoice_status == 2"
                class="text-success font-weight-bold"
              >
                Approved
              </p>
              <p
                *ngIf="invoice.invoice_status == 3"
                class="text-danger font-weight-bold"
              >
                Declined
              </p>
            </td>

            <td>
              <p *ngIf="invoice.invoice_status == 2" class="text-success">
                Approved
              </p>
              <p *ngIf="invoice.invoice_status == 1"><a href="" routerLink="/approve/{{invoice.id}}">Approve</a></p>
              <p *ngIf="invoice.invoice_status == 3" class="text-danger">
                Delete
              </p>
            </td>
            <div class="modal fade" id="name-" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Invoice
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="invoice-box">
                      <table
                        cellpadding="0"
                        cellspacing="0"
                        id="contentToConvert"
                      >
                        <tr class="top">
                          <td colspan="2">
                            <table>
                              <tr>
                                <td class="title">
                                  <img
                                    src="../../assets/images/FACTS_logo-1.jpg"
                                    style="width:100%; max-width:300px;"
                                  />
                                </td>
                                <td>
                                  Invoice #: {{ invoice.id }}<br />
                                  Created: {{ invoice.created_at | date }}<br />
                                  Due: {{ invoice.due_date | date }}
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr class="information">
                          <td colspan="2">
                            <table>
                              <tr>
                                <td>
                                  FACTS (KENYA) LIMITED<br />
                                  P.O.BOX 21934-00505,<br />
                                  5th Floor, Laiboni Center,<br />
                                  Lenana Road,<br />
                                  Nairobi – Kenya<br />
                                  Phone: +254 724 114 111<br />
                                  Email: info@factsafrica.com<br />
                                </td>
                                <td>
                                  Acme Corp.<br />
                                  John Doe<br />
                                  john@example.com
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr class="heading">
                          <td>
                            Payment Method
                          </td>
                          <td>
                            Check #
                          </td>
                        </tr>

                        <tr class="details">
                          <td>
                            Amount
                          </td>
                          <td>
                            <p>Ksh {{ invoice.invoice_amount }}</p>
                          </td>
                        </tr>
                        <tr class="total">
                          <td></td>
                          <td>Total:{{ invoice.invoice_amount }}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      value="CPTURE"
                      (click)="captureScreen()"
                    >
                      Download
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
