  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Facts Africa</div>
      <div class="list-group list-group-flush">
        <a routerLink="" class="list-group-item list-group-item-action bg-light myside">Invoices</a>
        <a routerLink="uploadinvoice" href="#" class="list-group-item list-group-item-action bg-light myside">Upload Invoice</a>
        <a href="#" class="list-group-item list-group-item-action bg-light myside">Invoice Statements</a>
        <a routerLink="viewbuyers" class="list-group-item list-group-item-action bg-light myside" routerLink="buyers" *ngIf="isVendor">My Buyers</a>
        <a href="#" class="list-group-item list-group-item-action bg-light myside">Request Loan</a>
        <a href="#" class="list-group-item list-group-item-action bg-light myside" (click)="Logout()">Logout</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom myside2">
        <button class="navbar-toggler" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
        <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
          <router-outlet> </router-outlet>
      </div>
    </div>
  </div>
