          <h4 class="text-center">List Of Invoices.</h4>
          <div class="card">
            <h5 class="card-header font-weight-light text-center">Invoices</h5>
            <div class="card-body">
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Invoice Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let invoice of invoices" >
                    <th scope="row">{{invoice.id}}</th>
                    <td>{{invoice.buyer_id}}</td>
                    <td>{{invoice.due_date}}</td>
                    <td>{{invoice.amount}}</td>
                    <td>{{invoice.invoice_status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>