
<!-- NavBar END -->
<!-- Bootstrap row -->
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Welcome</div>
      <div class="list-group list-group-flush">
        
        <a routerLink='buyer' class="list-group-item list-group-item-action bg-light">Invoices</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Invoice Statements</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">My Buyers</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Request Loan</a>



  
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="#">
          <img
            src="./assets/images/FACTS_logo-1.jpg"
            height="40"
            class="d-inline-block align-top "
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="flex-grow-1 d-flex">
            <form
              class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded p-1"
            >
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" (click)="Logout()" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row mt-4" id="body-row">
        <router-outlet></router-outlet>
        <!-- Sidebar -->
        
        <!-- sidebar-container END -->
        <div class="col p-4">
            <div class="m-3 p-2">
                <form method="POST" action="">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Buyer</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Buyer">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Amount</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Amount">
                      </div>                    <div class="form-group">
                        <label for="exampleInputEmail1">Due date</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Due Date">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
        <div class="col p-4">
            <div class="m-3 p-2">
                <form method="POST" action="">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Buyer</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Buyer">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Amount</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Amount">
                      </div>                    <div class="form-group">
                        <label for="exampleInputEmail1">Due date</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Due Date">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
      </div>
